<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">

<div id='home'>
  <div class='scroll-button-wrapper'>
    <p class="button">TOP</p>
  </div>

  <div class= "first-view">
    <div class="back back-left">
      <div class= "header-logo">
        <h1>志波ばぁちゃん家の柚子ごしょう</h1>
      </div>
      <ul class="left-exp exp">
        <li>無添加・完全無農薬の柚子ごしょう</li>
        <li>農業を中心に栄えた豊かな土壌</li>
        <li>九重の山から流れる筑後川</li>
        <li>田舎の土で育った柚子を使用</li>
      </ul>
    </div>

    <div class= "back back-center">
      <div class="header">
        <ul class= "about">
          <a href="#about" style="text-decoration:none;">ABOUT</a>
          <a href="#menu" style="text-decoration:none;">MENU</a>
          <a href="#blog" style="text-decoration:none;">BLOG</a>
          <a href="#contact" style="text-decoration:none;">CONTACT</a>
        </ul>
      </div>
      <div class="album">
        <%= image_tag '/assets/yuzugoshou1.JPEG', class:"img1" %>
        <%= image_tag '/assets/yuzugoshou2.JPEG', class:"img2" %>
        <%= image_tag '/assets/yuzugoshou3.JPEG', class:"img3" %>
        <%= image_tag '/assets/yasai1.JPEG', class:"img4" %>
      </div>
    </div>

    <div class="back back-right">
    </div>
  </div>

  <div class= "message" id="about">
    <div class= "about-message">
      <h2>ABOUT</h2>
      <ul class= "about-exp">
        <li>みどり豊かな土壌</li>
        <li>九州一の大河、筑後川に恵まれ</li>
        <li>旬の食材の宝庫で育った柚子を使用</li>
        <li>愛情溢れる無添加手作りの柚子ごしょういかかでしょうか</li>
      </ul>
    </div>
  </div>

  <div class="menu-page" id="menu">
      <h2 class= "menu"> MENU </h2>
      <div class="portrait">
        <%= image_tag '/assets/yuzugoshou4.png' %>
        <p>柚子ごしょう 1個（200g） / 700円（送料込み）</p>
      </div>
  </div>

  <div class="message sora">
  </div>

  <div class= "blog" id="blog">
    <h2 class= "blog-title"> BLOG </h2>
    <div class= "blog-block">
      <ul class="entry_list fade_list" style="text-align: center;">
        <% @diaries.each do |diary| %>
          <li class="show">
            <%= link_to diary, class:"diaries" do %>
              <%= image_tag diary.picture.variant(resize_to_limit: [250, 250]) %>
              <p class="date"><%= diary.created_at.strftime("%Y.%m.%d") %></p>
              <p class="tit"><%= diary.title %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='contact'>
    <h2 class='contact-title' id="contact">お問い合わせフォーム</h2>

    <div id="message"></div>

    <div class='form-area'>
      <%= form_with url:create_contact_path do |f| %>
        <%= f.label :name, "お名前" %>
        <%= f.text_field :name %>
        <%= f.label :address, "住所" %>
        <%= f.text_field :address %>
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email %>
        <%= f.label :phone, "電話番号" %>
        <%= f.text_field :phone %>
        <%= f.label :quantity, "個数" %>
        <%= f.number_field :quantity %>
        <%= f.label :question, "ご質問など" %>
        <%= f.text_area :question %>
        <div class='action'>
          <%= f.submit "送信" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
